doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Report
    style 
      include pug-styles.css
  body
    .report
      .logo-segment
        .logo
          include carpass_logo.svg

      
      
      .first-list-container
        each section in headerSections
          .header-section
            .header
              h3 #{section.sectionName}

            .lists-container
              each row in section.rows 
                  .first-list-item
                    .question-answer
                      strong  #{row.question}
                      span  #{row.comment}
      .section-break
        h2 
          span #{breaklineTitle}
        .underline

      each section in sections
        .header-section
          .header
            h3 #{section.sectionName}

          .lists-container
            each row in section.rows 
                .list-item
                  .question-answer
                    strong(class=row.status)  #{row.question}
                    span(class=row.status)  #{row.comment}

